prefix = "your-prefix"

azure-location = "westus"
# azure-location = "westeurope"
# azure-location = "switzerlandnorth"

tag_source_git = "terraform-azure-docker-host"
tag_owner = "your-email"
tag_source_host = "your-host"

src_ip_ctrl = "your source ip"

docker-instance-type = "Standard_F2"
docker-storage-account-type = "Standard_LRS"
docker-node-user = "adminuser"
docker-pub-key = "your-machines-ssh-public-key"

# image details docker node
src_img_ref_docker = {
    publisher = "debian"
    offer     = "debian-12"
    sku       = "12"
    version   = "latest"  
}

